{{#collection tag="ul"}}
	<li>
		<p>{{firstname}} {{lastname}} <button name="delete">Delete</button></p>
		<p>Phone: {{phone}}</p>
		<p>Email: {{email}}</p>
	</li>
{{/collection}}
{{view newContactForm}}